.dot {
  width: 56px;
  height: 56px;
  background: #f4f5f9;
  border: 1px solid rgba(48, 62, 88, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  top: -20px;
  animation: show 0.5s 1;
  animation-fill-mode: forwards;
  position: relative;
  transform: rotate(5deg);
  h2 {
    position: absolute;
    left: 80px;
    color: #42567a;
  }
}

@keyframes show {
  0% {
    transform: scale(0.25, 0.25);

    background-color: rgba(48, 62, 88, 0.5);
  }

  100% {
    transform: scale(1, 1);
  }
}
